<div class="category-item-container category-list-container">
	<div class="item item-list clearfix">
		<div class="item-image-container">
			<figure>
				<a href="product.html">
					<img src="images/products/item1.jpg" alt="item1" class="item-image">
					<img src="images/products/item1-hover.jpg" alt="item1  Hover" class="item-image-hover">
				</a>
			</figure>
			<div class="item-price-container">
				<span class="old-price">$210<span class="sub-price">.99</span></span>
				<span class="item-price">$160<span class="sub-price">.99</span></span>
			</div>
			<span class="new-rect">New</span>
			<span class="discount-rect">-15%</span>
		</div><!-- End .item-image -->
		<div class="item-meta-container">
			<h3 class="item-name"><a href="product.html">Phasellus consequat</a></h3>
			<div class="ratings-container">
				<div class="ratings">
					<div class="ratings-result" data-result="70"></div>
				</div><!-- End .ratings -->
				<span class="ratings-amount">
					3 Reviews
				</span>
			</div><!-- End .rating-container -->
			<p>Nulla nunc turpis, semper a est ut, commodo rutrum nunc. Nullam pellentesque sed lacus a condimentum. Vivamus pretium tempus fermentum. Suspendisse quis urna posuere, vestibulum enim sit amet, mollis augue. Fusce eu fermentum nunc. Pellentesque a volutpat ipsum...</p>
			<div class="item-action">
				<a href="#" class="item-add-btn">
					<span class="icon-cart-text">Add to Cart</span>
				</a>
				<div class="item-action-inner">
					<a href="#" class="icon-button icon-like">Favourite</a>
					<a href="#" class="icon-button icon-compare">Checkout</a>
				</div><!-- End .item-action-inner -->
			</div><!-- End .item-action -->
		</div><!-- End .item-meta-container -->
	</div><!-- End .item -->
</div><!-- End .category-item-container -->
