{% load static %}
<div class="row home-banners">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <a href="#"><img src=" {% static 'images/middle-banner-1.png' %}" alt="Home Big Banner 1" class="img-responsive"></a>
                                    </div><!-- End .col-md-6 -->

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <a href="#"><img src=" {% static 'images/middle-banner-2.png' %}" alt="Home Big Banner 2" class="img-responsive"></a>
                                    </div><!-- End .col-md-4 -->

                                </div><!-- End .home-banners -->